.ticket-consulter-container {
  width: 100%;
  margin-bottom: 100px;
}
.ticket-content-table {
  padding: 10px;
  font-size: 10px;
  overflow: auto;
}

@media (min-width: 576px) {
  .ticket-consulter-container {
    min-height: auto;
    margin-bottom: 50px;
  }
}
