.search-input-wrap {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.search-input-wrap > form {
  width: 100%;
}

.input-area {
  display: flex;
  flex-direction: column;
}

.input-area .form-control {
  width: 100%;
  background-color: #fff;
  border-radius: 5px !important;
}

.input-area .form-control input:focus {
  box-shadow: none;
}

.input-area > .btn {
  border-radius: 5px !important;
}

.input-area > .btn-warning {
  margin-top: 10px;
}

/* 
input:focus {
  
} */
.sytem-version {
  padding: 10px;
  text-align: center;
  width: auto;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(112, 100, 100);
  border: 2px solid rgb(122, 118, 118);
}

@media (min-width: 345px) {
  .search-input-label {
    display: none;
  }
}

@media (min-width: 420px) {
  .search-input-wrap {
    /* min-width: 400 px; */
    padding: 40px;
  }
}

@media (min-width: 580px) {
  .search-input-wrap {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    width: 100%;
  }
  .search-input-wrap > form {
    width: 500px;
  }
  .input-area {
    display: flex;
    flex-direction: row;
  }
}
