$theme-colors: (
  'primary': #04213F,
  'secondary': #6c757d,
  'info': #17a2b8,
  'dark': #000,
  'success': #008000,
  'warning': #FFE135,
  'danger': #dc3545,
);

$body-bg: #e5e5e5;
$body-color: #263238;

@import '~bootstrap/scss/bootstrap.scss';