.openform-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.openform-content {
    display: flex;
    padding: 20px;
}

@media (min-width: 763px) {
    .openform-container {
        flex-direction: row;
        align-items: unset;
    }
    .openform-content {
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}